<nav>
			<ul class="navbar-prin">
				<li class="nvp-li"><a href="{{ 'admin/usuarios' | url }}">Usuarios</a></li>
				<li class="nvp-li"><a href="{{ 'admin/productos' | url }}">Productos</a></li>
				<li class="nvp-li"><a href="{{ 'admin/ventas' | url }}">Ventas</a></li>
				<li class="nvp-li"><a href="{{ 'admin/clientes' | url }}">Clientes</a></li>
				<li class="nvp-li"><a href="{{ 'auth/logout' | url }}">Logout</a></li>
			</ul>
		</nav>